# **Topic 01 = Python Pandas Series**

**Create an empty Series**

**Example**

In [2]:
import pandas as pd
x = pd.Series()
print(x)

Series([], dtype: object)

**Creating a Series using inputs:**

We can create Series by using various inputs:

1. Array
2. Dict
3. Scalar value

**1. Creating Series from Array:**

**Example 1: Create a Series from a String array:**

In [3]:
import pandas as pd
import numpy as np

a = np.array([2 , 3 , 4 , 5 , 6])
b = np.array(['Zeeshan' , 'Eisa' , 'Fahim' , 'Dani' , 'Imran'])

c = pd.Series(a)
d = pd.Series(b)
print(c , d)

0    2
1    3
2    4
3    5
4    6
dtype: int32 0    Zeeshan
1       Eisa
2      Fahim
3       Dani
4      Imran
dtype: object

**Example 02: Create a Series from a one-dimensional array**

In [4]:
import pandas as np

a = np.array([1 , 2 , 3 , 4 , 5])
b = pd.Series(a)
print(b)

0    1
1    2
2    3
3    4
4    5
dtype: Int64

# **2.  Create a Series from dict:**

**Example 1: Create a Series from a dictionary with default index:**

In [6]:
import pandas as pd

fruits = pd.Series({ 10 : 'Apple' , 15 : 'Banana' , 20 : 'Orange' })
fruits = pd.Series({ 'Apple' : 2 , 'Mango' : 5 , 'Grapes' : 23 })

print(fruits)

Apple      2
Mango      5
Grapes    23
dtype: int64

**Example 2:Create a Series from a dictionary with mixed data types**

In [7]:
import pandas as pd

data = {'apple': 5, 'banana': 'ten', 'orange': 15.0 }
series = pd.Series(data)

print(series)

apple        5
banana     ten
orange    15.0
dtype: object

**3.  Create a Series using Scalar:**

**Example 01: create a Series using a scalar value:**

In [8]:
import pandas as pd

series = pd.Series(10)

print(series)

0    10
dtype: int64

**Example 02:  create a Series with multiple elements using a scalar value**:

In [9]:
import pandas as pd

# create a Series with 3 elements, all with a scalar value of 10
series = pd.Series(10,index=[1,2,3,4,5,6,7,8,9,0])

print(series)

1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
9    10
0    10
dtype: int64

**Accessing data from series with Position:**

**Example 01: access the element at position 2:**

In [10]:
import pandas as pd

series = pd.Series([10, 20, 30, 40, 50] , index=['ten' , 2 , 'three' , 4 , 'fifty'])
#series = pd.Series(1,2,3,4,5 ,index='ten',2,'three',4,'fifty')
print(series)

print()

print(series[2]) #that is true
# print(series[5])#an error is that index is  string fifty

ten      10
2        20
three    30
4        40
fifty    50
dtype: int64

20

**Example 02: access multiple elements from a Series by position using slicing:**

In [11]:
import pandas as pd

series = pd.Series([10, 20, 30, 40, 50],index=[1 , 2 , 3 , 4 , 5])
print(series)

print("Slicing")
print(series[2:4])

1    10
2    20
3    30
4    40
5    50
dtype: int64
Slicing
3    30
4    40
dtype: int64

**Series object attributes:**

In [12]:
import pandas as pd

series = pd.Series([10, 20, 30, 40,50 ])
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [13]:
print(series.index)

RangeIndex(start=0, stop=5, step=1)

In [14]:
print(series.dtype)

int64

In [15]:
print(series.size)

5

In [16]:
print(series.empty)

False

In [17]:
print(series.hasnans)

False

In [18]:
print(series.nbytes)

40

In [19]:
print(series.ndim)

1

In [20]:
print(series.name)

None

**Creating a Series with custom index labels:**

In [21]:
import pandas as pd
series = pd.Series([1,2,3,4],index =['a','b','c','d'])
print(series)

a    1
b    2
c    3
d    4
dtype: int64

**Retrieving Index array and data array of a series object**

In [22]:
import pandas as pd

series1 = pd.Series([10, 20, 30, 40, 50], index=[1, 2, 3, 4, 5])
df = pd.DataFrame({'Col': series1})
print(df)
print()

   Col
1   10
2   20
3   30
4   40
5   50

**Retrieving Types (dtype) and Size of Type (itemsize)**

In [23]:
import pandas as pd
a=pd.Series(data=[1,2,3,4])
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])
print(a.dtype)
print()
print(a.item)
print()
print(b.dtype)
print()
print(b.item)

int64

<bound method IndexOpsMixin.item of 0    1
1    2
2    3
3    4
dtype: int64>

float64

<bound method IndexOpsMixin.item of x    4.9
y    8.2
z    5.6
dtype: float64>

**Retrieving Shape**

In [24]:
import pandas as pd
a=pd.Series(data=[1,2,3,4])
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])
print(a.shape)
print(b.shape)

(4,)
(3,)

**1.1:Pandas Series.map()**

In [25]:
import numpy as np
import pandas as pd
a = pd.Series(['Java', 'C', 'C++','Java' ])
a.map({'Java': 3})

0    3.0
1    NaN
2    NaN
3    3.0
dtype: float64

**1.5:Pandas Series.std()**

In [26]:
import pandas as pd
print(np.std([2,3,4,5,5,6,7]))
print()
print(np.std([6,9,15,2,-17,15,4]))

1.5907898179514348

10.077252622027656

In [27]:
import pandas as pd
print(np.std([4,7,2,1,6,3]))
print()
print(np.std([6,9,15,2,-17,15,4]))

2.1147629234082532

10.077252622027656

**1.3:Pandas Series.to_frame()**

In [28]:
import pandas as pd
a = pd.Series(['Parker', 'John', 'Smith', 'William'] )
b = pd.Series([102, 107, 109, 114])
frame = { 'X': a, 'Y':b }
result = pd.DataFrame(frame)
result

         X    Y
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [29]:
import pandas as pd
a = pd.Series(['Pakistan', 'India', 'Bangladesh', 'America'])
b = pd.Series([102, 107, 109, 114])
frame = { 'Country': a, 'Currancy':b }
result = pd.DataFrame(frame)
result

      Country  Currancy
0    Pakistan       102
1       India       107
2  Bangladesh       109
3     America       114

**1.4:Pandas Series.unique()**

In [30]:
import pandas as pd
pd.unique(pd.Series([2, 1, 3, 3]))
pd.unique(pd.Series([pd.Timestamp('20160101'),pd.Timestamp('20160101')]))

array(['2016-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [31]:
import pandas as pd

# create a series of colors
colors =pd.Series(['red', 'green', 'blue', 'green', 'yellow', 'red'])

# find the unique values in the series
unique_colors = pd.unique(colors)

print(unique_colors)

['red' 'green' 'blue' 'yellow']

**1.5:Pandas Series.value_counts()**

In [32]:
import pandas as pd

# create a series of fruits
fruits = pd.Series(['apple', 'banana', 'apple', 'orange', 'kiwi', 'kiwi', 'apple'])

# count the occurrence of each fruit in the series
fruit_counts = fruits.value_counts()

print(fruit_counts)

apple     3
kiwi      2
banana    1
orange    1
Name: count, dtype: int64

In [34]:
book = pd.Series(['english','biology','math','english','biology','urdu','math','english','biology','urdu'])
book_counts = book.value_counts()
print(book_counts)

english    3
biology    3
math       2
urdu       2
Name: count, dtype: int64

## Follow My Github Account : https://github.com/ZeshanFareed